.grid-container {
  display: grid;
  grid-template-rows: 64px 6px 1fr;
  /* grid-row-gap: 5px; */
}
.ant-table-tbody > tr.ant-table-row-level-1:hover > td {
  background: unset !important;
}

.dashboard1 {
  display: grid;
  grid-template-rows: 150px 1fr 64px;
  grid-row-gap: 5px;
}

.dashboard2 {
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-row-gap: 5px;
}

.with-left {
  display: grid;
  grid-template-columns: 1fr 150px;
  column-gap: 5px;
}

.with-right {
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 5px;
}

.tab-header-black {
  padding-left: 24px;
  font-size: 15px;
  /* font-weight: bold; */
  text-transform: uppercase;
  min-height: 38px;
  max-height: 38px;
  display: flex;
  align-items: center;
  color: white;
}

.tab-header {
  padding-left: 24px;
  font-size: 15px;
  /* font-weight: bold; */
  text-transform: uppercase;
  min-height: 38px;
  max-height: 38px;
  display: flex;
  align-items: center;
  color: "";
  background-color: #d8d8d8;
}

.red {
  color: #ab2916;
  font-size: 28px;
  font-family: Arial;
}

.red-dark {
  color: orangered;
  font-size: 28px;
  font-family: Arial;
}

.white {
  color: #f1f7fb;
  font-size: 28px;
  font-family: Arial;
}

.green {
  background: #17803a;
}

.green-dark {
  color: #20c997;
}

.indicator-label {
  color: #bdd1f8;
  font-size: large;
  /* margin-top: 10px; */
}

.indicator-progress {
  color: #a3afbd;
  font-size: 28px;
  font-family: Arial;
}

.light {
  background: none;
}

.card-bg {
  background: #f4f4f4;
}

.blue {
  color: #1b3a50;
  font-size: 28px;
  font-family: Arial;
}
.viz {
  display: grid;
  /* grid-template-rows: repeat(6, 1fr); */
  grid-template-columns: repeat(2, 1fr);
}

thead[class*="ant-table-thead"] th {
  background-color: #2d3748 !important;
  color: white !important;
  padding: 10px;
  font-size: large;
}

.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background: unset;
}

.ant-descriptions-title {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5715;
  background: gray;
  padding: 10px;
}
