.grid-container {
  display: grid;
  grid-template-rows: 64px 6px 1fr;
  /* grid-row-gap: 5px; */
}

.dashboard1 {
  display: grid;
  grid-template-rows: 150px 1fr 64px;
  grid-row-gap: 5px;
}

.with-left {
  display: grid;
  grid-template-columns: 1fr 150px;
  column-gap: 5px;
}

.with-right {
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 5px;
}

.tab-header-black {
  margin-left: 24px;
  font-size: 15px;
  /* font-weight: bold; */
  text-transform: uppercase;
  min-height: 38px;
  max-height: 38px;
  display: flex;
  align-items: center;
  color: white;
}

.tab-header {
  margin-left: 24px;
  font-size: 15px;
  /* font-weight: bold; */
  text-transform: uppercase;
  min-height: 38px;
  max-height: 38px;
  display: flex;
  align-items: center;
  color: "";
  background-color: #d8d8d8;
}

.red {
  color: #ab2916;
  font-size: 28px;
  font-family: Arial;
}

.red-dark {
  color: orangered;
  font-size: 28px;
  font-family: Arial;
}

.white {
  color: #f1f7fb;
  font-size: 28px;
  font-family: Arial;
}

.green {
  background: #17803a;
}

.green-dark {
  color: #20c997;
}

.indicator-label {
  color: #bdd1f8;
  font-size: large;
  /* margin-top: 10px; */
}

.indicator-progress {
  color: #a3afbd;
  font-size: 28px;
  font-family: Arial;
}