.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-weight: bolder;
  align-items: center;
}

.headers {
  margin: 0;
  padding: 0;
  /* line-height: 48px; */
  display: flex;
  background: #d9edf7;
}
.modified-item {
  text-align: center;
  /* background: #95ceff; */

  color: black;
}

.red {
  color: #ab2916;
  font-size: 28px;
  font-family: Arial;
}

.red-dark {
  color: orangered;
  font-size: 28px;
  font-family: Arial;
}

.white {
  color: #f1f7fb;
  font-size: 28px;
  font-family: Arial;
}

.green {
  background: #17803a;
}

.green-dark {
  color: #20c997;
}

.indicator-label {
  color: #bdd1f8;
  font-size: large;
  /* margin-top: 10px; */
}

.indicator-progress {
  color: #a3afbd;
  font-size: 28px;
  font-family: Arial;
}

.blue {
  color: #1b3a50;
  font-size: 28px;
  font-family: Arial;
}

.management {
  color: greenyellow;
  font-size: 48px;
  font-family: Arial;
}

.big-number-cv {
  color: #009900;
  font-weight: bold;
  font-size: 56px;
  font-family: Arial;
}
.big-number-rr {
  color: #cc9933;
  font-weight: bold;
  font-size: 56px;
  font-family: Arial;
}
.flex-center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.checklist {
  background: #ccccff;
  border: #3d80cc solid 1px;
  padding: 10px;
}

#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d9edf7;
}

.content {
  border: 1px solid #d9edf7;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.tab-header {
  margin-left: 24px;
  font-size: 15px;
  /* font-weight: bold; */
  text-transform: uppercase;
  min-height: 38px;
  max-height: 38px;
  display: flex;
  align-items: center;
  color: "";
  background-color: #d8d8d8;
}

.tab-header-black {
  margin-left: 24px;
  font-size: 15px;
  /* font-weight: bold; */
  text-transform: uppercase;
  min-height: 38px;
  max-height: 38px;
  display: flex;
  align-items: center;
  color: white;
}
